@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #16161d;
    letter-spacing: 1.5px;
}

main {
    padding: 0.5rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

h1 {
    text-align: center;
}

h3 {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
}

nav {
    padding: 2rem 6rem;
}

.back-text {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    display: inline;
}
.back-text:hover {
    color: #cccccc82;
}

.container {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.duties-container {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
}

.jarred, .don {
    color: #16161d;
    background-color: #fff;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}

.btn {
    padding: 0.8rem 3rem;
    background-color: #fff;
    color: #16161d;
    text-transform: uppercase;
    cursor: pointer;
    border: #16161d 2px solid;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 0.4rem;
}
.btn:hover {
    background-color: #16161d;
    color: #fff;
    border: 1px solid #fff;
}

.names {
    text-align: center;
    margin-top: 0.8rem;
    border-bottom: #16161d solid 1px;
    font-weight: 00;
}

.church-service {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.8rem;
    font-weight: 300;
}

@media (max-width: 450px) {
    main {
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .container {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

@media (max-width: 600px) {
    main {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .container {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 750px) {
    main {
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    h1 {
        font-size: 2.8rem;
    }

    .container {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }
}